<!DOCTYPE html>
<html ng-app="d3DemoApp">
<head>
  <meta charset="utf-8">
  <title>AngularJS + D3.js</title>
  <script src="http://d3js.org/d3.v2.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
  <script src="app.js"></script>
  <style>
    body {
      font: 14px Helvetica Neue;
      text-rendering: optimizeLegibility;
      margin-top: 1em;
      overflow-y: scroll;
    }
    .label {
      font-size: .65em;
    }
    body {
      width: 960px;
      margin: auto;
    }
    h1 {
      font-size: 36px;
      font-weight: 300;
      margin-bottom: .3em;
    }
  </style>
</head>
<body ng-controller="AppCtrl">
  <h1>Github Commit Graph</h1>

  <div>
    User: <input ng-change="getCommitData()" ng-model="user"></input>
    Repo: <input ng-change="getCommitData()" ng-model="repo"></input>
    Grouped <input type="checkbox" ng-model="grouped">
  </div>
  
  <p>{{error}}</p>
  <visualization val="data" grouped="grouped"></visualization>
</body>
</html>